{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {jsx,   {git, "git@github.com:talentdeficit/jsx.git",  {tag, "2.8.0"}}},
    {lager, {git, "git@github.com:erlang-lager/lager.git", {tag, "3.6.5"}}}
]}.

{relx, [
    {release, {erlangish,"0.1.0" },
     [
        erlangish,
        jsx,
        lager,
        compiler,
        sasl
     ]},
     {sys_config, "./config/sys.config"},
     {vm_args, "./config/vm.args"},
     {dev_mode, true},
     {include_erts, true},
     {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}]
        }]
    }]
}.
