[
    { erlangish, []},
    { elvis, [
        {config, [
          #{dirs => ["src"],
            include_dirs => ["include"],
            filter => "*.erl",
            ruleset => erl_files
          },
          #{dirs => ["."],
            filter => "Makefile",
            ruleset => makefiles
           },
          #{dirs => ["."],
            filter => "rebar.config",
            ruleset => rebar_config,
            rules => [
                {elvis_project, 
                 protocol_for_deps_rebar,
                 #{regex => "git@github.com:*"}
                }
            ]
           },
          #{dirs => ["."],
            filter => "elvis.config",
            ruleset => elvis_config
           }
        ]},
        {output_format, colors}
    ]}
].
